Repository mrodz/receiptify, pull requests merged in 2024-08, with the labels that each got.

#13 1 set up frontend
  frontend/.gitignore
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/react-app-env.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: enhancement, ER

#19 2 set up backend
  backend/.firebaserc
  backend/.gitignore
  backend/README.md
  backend/firebase.json
  backend/functions/.gitignore
  backend/functions/package-lock.json
  backend/functions/package.json
  backend/functions/src/index.ts
  backend/functions/tsconfig.json
Labels: ER, time sensitive, backend

#24 Add upload receipt feature
  backend/functions/.gitignore
  backend/functions/package-lock.json
  backend/functions/package.json
  backend/functions/src/index.ts
  backend/functions/src/s3.ts
  backend/functions/tsconfig.json
  frontend/src/firebase.ts
  frontend/src/index.tsx
  frontend/src/pages/receipts/Upload.tsx
Labels: 5 pt., large, backend
